node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

dist/
/build/*
!/build/icon.png
!/build/icon.ico

.DS_Store
.AppleDouble
.LSOverride

out/

.idea/
.vscode/
*.swp
*.swo

.env
.env.local
.env.*.local